* { box-sizing: border-box;}

.background {
  width: 100%;
  height: 100%;
  background: url("images/fondonaruto.png") no-repeat center top;
  position: relative;

}

.naruto {
  width: 200px;
  height: 200px;
  background-image: url("images/narutiko.pn");
  animation: walknaruto 5s steps(45) infinite, moversenaruto 1s steps(100) 1 forwards, steps(10) 1 forwards;
  position: absolute;
  bottom: -20px;
  top: 100px;
  left: 500px;

}


@keyframes walknaruto {
  100% { background-position: -9000px; }
}

@keyframes moversenaruto {
  100% { margin-right: 200px; }
}

.sasuke {
  width: 200px;
  height: 200px;
  background-image: url("images/sasuke.pn");
  animation: walksasuke 5s steps(16) infinite, moversesasuke 1s steps(100) 1 forwards, steps(10) 1 forwards;
  position: absolute;
  bottom: -20px;
  top: 125px;
  right: 400px;
}


@keyframes walksasuke {
  100% { background-position: -3200px; }
}

@keyframes moversesasuke {
  100% { margin-right: 200px; }
}

/*/
.pelea {
  width: 374px;
  height: 225px;
  background-image: url("images/pelea.png");
  animation: walkpelea 15s steps(134) infinite, moversepelea 1s steps(100) 1 forwards, steps(10) 1 forwards;
  position: absolute;
  bottom: -20px;
  top: 100px;
  left: 500px;

}


@keyframes walkpelea {
  100% { background-position: 50116px; }
}

@keyframes moversepelea {
  100% { margin-right: 374px; }
}
/*/

.pelea2 {
  width: 310px;
  height: 200px;
  background-image: url("images/pelea2.png");
  animation: walkpelea 7s steps(71) infinite, moversepelea 1s steps(100) 1 forwards, steps(10) 1 forwards;
  position: absolute;
  bottom: -20px;
  top: 400px;
  left: 500px;

}


@keyframes walkpelea {
  100% { background-position: -22010px; }
}

@keyframes moversepelea {
  100% { margin-right: 200px; }
}
